discord.py
dismusic
ffmpeg
youtube_dl
aiohttp
async-timeout
attrs
cffi
chardet
colorama
discord-custom-help
idna
multidict
pycparser
PyNaCl
python-dotenv
six
typing_extensions
wavelink
yarl
